@font-face {
	font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

h1,h2,h3,h4,p,a {
    font-family: 'Ubuntu';
}

p,a {
    font-size: 16pt;
}

h1 {
    font-size: 70px;
}

html {
    background-color: rgb(22,22,24);
    color: rgb(255, 255, 255)
}

body {
    line-height: 15pt;
    padding: 10%;
}

:root {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

:root .footer-root .copyright {
    bottom: 0;
} 

:root .logo {
    border-radius: 50%;
}
